<table border="1" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>
        <table align="left" border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; font-family: 'Roboto', sans-serif;">
          <tbody>
            <tr>
              <td bgcolor="#197278" style="color: #ffffff; padding: 5px 10px 0 10px;" >
                <p><strong>Welcome!</strong></p>
              </td>
            </tr>
            <tr>
              <td style="padding: 5px 10px 5px 10px;">
                <p>Thank you for signing up with <%= @appname %>!</p>
                <p>- Your <%= @appname %> Team</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
