<h1 id="headline">Orders</h1>

<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-2 col-md-4" id="order-index">
      <h2>
        <%= link_to "Order #" + order.id.to_s + ":", order %>
      </h2>
      <h2>
        <%= link_to order.product.name, order.product %>
      </h2>
      <p><%= order.product.description %></p>
      <strong><%= number_to_currency(order.product.price) %></strong>
    </div><!-- /col -->
  <% end %>
</div>
