#order-index h2 {
  padding-left: 0;
}

#order-index p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

#order-index a:hover {
  background-color: transparent;
  color: #197278;
  text-decoration: none;
}
