// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Table
// #product_tbl {
//   margin-top: 20px;
//   padding: 10px;
//   width: 100%;
// }
//
// #product_tbl th {
//   background-color: #edddd4;
//   font-family: 'Oswald', sans-serif;
//   font-size: 2em;
//   padding: 20px 10px;
// }
//
// #product_tbl td {
//   font-size: 1.2em;
//   padding: 10px;
// }

.catalog-product-footer {
  margin-bottom: 20px;
}

#catalog-product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  padding: 20px;
}

#product-name-catalog {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  padding-left: 0;
  text-decoration: none;
}

#product-name-catalog a:hover {
  background-color: transparent;
  color: #197278;
  text-decoration: none;
}

#catalog p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-top: 10px;
}

.carousel-caption {
  color: #197278;
}

.carousel-indicators li {
    border:1px solid #197278;
}

.carousel-indicators .active {
    background-color: #197278;
}

.carousel-inner img {
  margin: auto;
}

.ratings-section {
  border-top: 2px solid #edddd4;
  margin-top: 40px;
}

.ratings-section h2 {
  color: #197278;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.rating,
.rated {
  margin-bottom: 10px;
  padding-left: 10px;
}

.product-reviews > .row {
  margin-left: 0;
  margin-right: 0;
}

.ratings-section h4 {
  color: #197278;
}

.text-area-width {
  min-width: 40%;
}

.review-name {
  font-weight: bold;
  margin-bottom: 0;
}

hr {
  border-top: 1px solid #edddd4;
}
