// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// NAVIGATION
.navbar,
.footer {
  background-color: #252937;
}

.navbar a {
  color: #edddd4;
  font-family: 'Roboto', sans-serif;
}

#home-link:hover {
  background-color: #fff;
  color: #252937;
}

.navbar a:hover {
  color: #252937;
}

.navbar-form {
  margin-top: -10px;
}

#home-link {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

// BODY
.page-wrapper {
  font-family: 'Roboto', sans-serif;
  margin-top: 70px;
  padding-bottom: 10px;
}

#headline {
  background-color: #197278;
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  padding: 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
p {
  padding-left: 10px;
}

h1 {
  color: #edddd4;
  font-weight: bold;
}

h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-image {
  max-width: 50%;
}

.carousel-caption a {
  background-color: rgba(237, 221, 212, .4);
  border-radius: 10px;
  color: #252937;
  padding: 10px;
}

.carousel-caption a:hover {
  color: #197278;
  text-decoration: none;
}

// CONTACT FORM
.contact-form {
  color: #197278;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 40px;
  padding-left: 10px;
}

.contact-form-submit {
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

// LOGIN FORM
.user-form {
  border: 1px solid #edddd4;
  border-radius: 4px;
  margin: 0 auto;
  padding: 15px;
  width: 360px;
}

.user-form h1 {
  border-radius: 4px;
  margin-bottom: 20px;
}

.form-group {
  color: #197278;
  font-size: 1.2em;
}

.form-group i {
  margin-bottom: 2px;
}

.checkbox input[type=checkbox] {
  margin-left: 0;
}

.checkbox label {
  padding-top: 2px;
}

// FOOTER
.footer {
  bottom: 0;
  color: #edddd4;
  height: 60px;
  margin-left: -33px;
  position: absolute;
  width: 100%;
}

.footer div {
  margin-left: 0px;
  padding-top: 20px;
}
