<div class="page-wrapper">
  <div>
    <p id="notice"><%= notice %></p>

    <h1 id="headline">Products</h1>
  </div>

  <div class="container-fluid" id="catalog">
    <div class="row">
      <%= render @products %>
    </div>
  </div>

  <br>

  <%= link_to 'New Product', new_product_path %>
</div>
